@model BAND_APA_WEB_APP.Models.Animal

@{
    var imagePath = "";
    var newFileName = "";

    newFileName = "Woofy.jpg";
    imagePath = @Url.Content($"~/Ressources/ImagesAnimals/{newFileName}");

    ViewData["Title"] = $"Detail de {newFileName}";
}

<div class="container d-flex mb-2 mt-2 p-2">
            <div class="col-xl-4">
                <div>
                    <img src="~/Ressources/ImagesAnimals/@Model.Photo" runat="server" width="364" height="222"/>
                </div>                       
            </div>        
            <div class="col-6 d-flex flex-column">
                <div class="row-1 p-2">
                    <h3>@Model.Nom</h3>
                </div>
                <div class="row-1 d-flex mx-2">
                    <h6>Espèce : </h6>
                    <p>@Model.Espece</p>
                </div> 
                <div class="row-1 d-flex mx-2">
                    <h6>Race : </h6>
                    <p>@Model.Race</p>
                </div>
                <div class="row-1 d-flex mx-2">
                    <h6>Date d'entrée : </h6>
                    <p>@Model.DateEntree</p>
                </div>
                <div class="row-1 d-flex mx-2">
                    <h6>Age : </h6>
                    <p>@Model.Age</p>
                </div>
                <div class="row-1 d-flex mx-2">
                    <h6>Sexe : </h6>
                    <p>@Model.Sexe</p>
                </div>
                <div class="row-1 d-flex mx-2">
                    <h6>Couleur : </h6>
                    <p>@Model.Couleur</p>
                </div>
                <div class="row-1 d-flex mx-2">
                    <h6>Description : </h6>
                    <p>@Model.Comments</p>
                </div>
                
                <div class="row-1 mt-auto p-2">
                    <a class="btn btn-warning " asp-area="" asp-controller="Animal" asp-action="AnimalDetail">Adopter</a>
                    <a class="btn btn-primary " asp-area="" asp-controller="Animal" asp-action="Index">Retour</a>
                </div> 
            </div>       
        </div>
